@{
    ViewData["Title"] = "Tutorial: Advanced";
    ViewData["Heading"] = "Tutorial: Advanced Questions";
    ViewData["Description"] = "Learn how to create and manage code-based multiple-choice questions";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col s12">
            <h5 class="teal-text">Instructions</h5>
            <p>Follow these instructions to create a <a asp-controller="Advanced" asp-action="Create"
                    target="_blank">code-base multiple-choice question
                    <i class="tiny material-icons">open_in_new</i></a>.</p>
        </div>
    </div>
</section>