@{
    ViewData["Title"] = "Tutorial: Assessments";
    ViewData["Heading"] = "Tutorial: Assessments";
    ViewData["Description"] = "Learn how to create and manage assessments using your questions";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col s12">
            <h5 class="teal-text">Instructions</h5>
            <p>Follow these instructions to create an <a asp-controller="QuestionBank" asp-action="Index"
                    target="_blank">assessment <i class="tiny material-icons">open_in_new</i></a> using your existing
                questions.</p>
            <div id="questionBanks">
                <h6 class="teal-text">Question Banks</h5>
                    <ol>

                    </ol>
            </div>
            <div id="instructions">
                <h6 class="teal-text">Creating the Assessment</h5>
                    <ol>
                        <p>
                            <li>Fill-in the assessment name (text, numbers, and dashes only. Please use dashes instead
                                of spaces).
                                This is to help you identify the assessment later.
                            </li>
                        </p>
                        <p>
                            <li>Check the cover page box to create an editor window for the assessment cover page. This
                                section
                                can contain formatting, and is optional.</li>
                        </p>
                        <p>
                            <li>Initially, the question list section will list all of the questions from the question
                                bank.
                                It will also list instruction sections and individual questions as they are added.
                                Clicking on a question item will toggle whether it is included in the assessment (a
                                white background means that the item is NOT included).
                                Clicking on the <i class="tiny material-icons">pageview </i> icon will display the
                                question
                                details in a new window. Questions can be edited on their corresponding management page.
                            </li>
                        </p>
                        <p>
                            <li>Instruction sections are essentially questions without answers. As the name suggests,
                                they
                                can be used
                                for writing instructions for a subset of the questions.
                                Click on the <i class="tiny material-icons">add_circle</i> icon to create an editor
                                window
                                for a new
                                instruction section.
                                You can write the section (formatting is allowed) and click on the save button to add
                                the
                                section to the question list.
                                Clicking on the <i class="tiny material-icons">pageview </i> icon will display the
                                section details in a pop-up window.
                                You can also click on the <i class="tiny material-icons">edit</i> icon to make changes
                                to the section.
                            </li>
                        </p>
                        <p>
                            <li>You can add an individual question (not from the question bank) by visiting that
                                question's management page, and clicking on the
                                <i class="tiny material-icons">link</i> icon next to the question's name to copy that
                                question's id to the clipboard.
                                (The clipboard is where the items that you copy when you press 'control c' or
                                'right-click copy' are stored.)
                                Paste the id into the input provided, select the correct question type, and click on the
                                <b>ADD</b> button to add the question to the list.
                            </li>
                        </p>
                        <li>
                            </p>Re-order the questions and instruction sections by clicking and dragging them into the
                            order
                            you would like them to appear in on the assessment.</li>
                        </p>
                        <p>
                            <li>Check the appendix box to create an editor window for the appendix. This section can
                                contain
                                formatting, and is optional.</li>
                        </p>
                        <p>
                            <li>Click the <b>PREVIEW</b> button to see a preview of the assessment.
                                If you are happy with the assessment, you can click on <b>GENERATE</b> to create the
                                assessment.
                                Otherwise, you can still make changes and click on <b>PREVIEW</b> to view the modified
                                assessment.
                            </li>
                        </p>
                        <p>
                            <li>Clicking the <b>GENERATE</b> button will create the assessment.
                                If there are any problems, these will be listed in a dialog.
                                Once the assessment is generated, you will be redirected to the management page.
                            </li>
                        </p>
                    </ol>
            </div>
            <h5 class="teal-text">Managing your Assessments</h5>
            <p>The <a asp-controller="Assessment" asp-action="Index" target="_blank">assessment management <i
                        class="tiny material-icons">open_in_new</i></a> page displays all of the assessments that
                you have
                created/that have been shared with you.
            </p>
            <p>The assessments are sorted newest to oldest by default (you can also sort by name), and you can search
                for
                an assessment by name.</p>
            <p>You can click on the icons next to each assessment to perform a number of actions (which will open
                a new page):</p>
            <h6 class="teal-text">Viewing an Assessment <i class="material-icons">pageview</i></h6>
            <p>Displays all of the assessment details.</p>
            <h6 class="teal-text">Editing an Assessment <i class="material-icons">edit</i></h6>
            <p>Loads the assessment details into a form that can be edited. Any changes need to be saved before
                exiting.</p>
            <h6 class="teal-text">Deleting an Assessment <i class="material-icons">delete</i></h6>
            <p>The assessment details are displayed before you confirm the deletion.</p>
            <h6 class="teal-text">Using an Assessment as a Template <i class="material-icons">content_copy</i>
            </h6>
            <p>Loads the assessment details into a form that can be edited. The assessment must be generated
                before exiting.</p>
            <p>Note that using an assessment as a template generates a new assessment and leaves the original unchanged.
            </p>
            <h6 class="teal-text">Sharing an Assessment <i class="material-icons">share</i></h6>
            <p>An input for the user's email is displayed underneath the assessment details.</p>
            <p>The user must have an account before you are able to share assessments with him/her.</p>
            <p>Note that sharing an assessment does not automatically share share the questions in that assessment.
                The other user will be able to view the details of the questions and include them in the assessment, but
                cannot edit them. You will need to share individual questions with the other user if he/she will need to
                make any changes to them.
            </p>
            <h6 class="teal-text">Downloading an Assessment <i class="material-icons">download</i></h6>
            <p>Under the Download Details heading, enter the number of unique versions of the assessment that you want
                to generate (between 1 and 300).</p>
            <p>Select the assessment type (see below) and click on <b>GENERATE</b>. If there are no errors, the
                <b>DOWNLOAD</b> option will then become available. Clicking this button will download a .zip folder 
                containing the assessment files (see the last section for an explanation of these files).</p>
            <h6 class="teal-text">Assessment Types</h5>
            <p>When downloading an assessment, the final step is to choose the assessment type:</p>
            <p>Selecting <i>standard</i> will create the desired number of papers in html format.
                The generated assessments will incorporate any of the following if present: the cover page, appendix,
                and instruction sections.
            </p>
            <p>Selecting any of the learning management system options will generate a zip file (using the assessment
                name), that can be imported into the corresponding system.
                At present these options DO NOT allow instruction sections to be included in the assessment, so these
                will be ignored.
            </p>
            <h6 class="teal-text">Assessment .zip File Contents</h5>
            <p>Every type of assessment downloads as a single .zip folder, which will have the name given to the
                assessment when it was created. Extract the contents to start.</p>
            <p>For <i>standard</i> assessments, the folder will consist of two subfolders and some files.
                The <i>answers</i> folder contains text files with the solutions to each version of the assessment.
                The <i>papers</i> folder will contain html documents representing version of the assessment.
                Most users will not need any of the other files in the main folder - these can be deleted.
            </p>
            <p>For learning management system assessments (except Moodle), the folder will contain some files and
                another .zip folder with the same name as the assessment.
                This second .zip folder can be uploaded to the learning management system to create an assessment.
                The other files can be ignored or deleted.
            </p>
            <p>For Moodle assessments, the folder will contain files and another regular folder with the same
                name as the assessment.
                This second folder can be uploaded to Moodle to create an assessment.
                The other files can be ignored or deleted.
            </p>
        </div>
</section>