@{
    ViewData["Title"] = "Tutorial: Simple";
    ViewData["Heading"] = "Tutorial: Simple Questions";
    ViewData["Description"] = "Learn how to create and manage simple multiple-choice questions";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col s12">
            <h5 class="teal-text">Instructions</h5>
            <p>Follow these instructions to create a <a asp-controller="Simple" asp-action="Create"
                    target="_blank">simple multiple-choice question
                    <i class="tiny material-icons">open_in_new</i></a>.</p>
            <div id="instructions">
                <ol>
                    <p>
                        <li>Fill-in the question name (text, numbers, and spaces only). This is to help you identify the
                            question
                            later.</li>
                    </p>
                    <p>
                        <li>Select a question type: Truth or XYZ.
                            See the example section below for a depiction of the differences between the two types.</li>
                    </p>
                    <p>
                        <li>Next, enter the marks for the question. This value can be between 0 and 10, in intervals of
                            0.5.</li>
                    </p>
                    <p>
                        <li>The question text section is where you write the actual question. This section can contain
                            formatting.
                        </li>
                    </p>
                    <p>
                        <li>The correct and incorrect answers section will be set-up with the minimum required number of
                            answers.
                            Truth requires 1 correct and 4 incorrect answers, whilst XYZ requires 3 correct and 3
                            incorrect answers.
                            <b>You will not be able to enter answers or preview the question until a question type has
                                been
                                selected.</b>
                            Click on the <i class="tiny material-icons">add_circle</i> icon to create the slot for a new
                            answer.
                            You are encouraged to add many answers, but do not worry if you leave an answer slot blank -
                            the question will generate once the minimum number of answers has been entered.
                            The answers will not be lost if you switch between question types.
                            Answers can contain formatting, and <b>all of the answers for the question must be
                                unique</b>.
                        </li>
                    </p>
                    <p>
                        <li>Click the <b>PREVIEW</b> button to see a preview of the question.
                            If you are happy with the question, you can click on <b>GENERATE</b> to create the question.
                            Otherwise, you can still make changes and click on <b>PREVIEW</b> to view the modified
                            question.
                        </li>
                    </p>
                    <p>
                        <li>Clicking the <b>GENERATE</b> button will create the question.
                            If there are any problems, these will be listed in a dialog.
                            Once the question is generated, you will be redirected to the management page.
                        </li>
                    </p>
                </ol>
            </div>
            <h5 class="teal-text">Example Questions</h5>
            <p>This example illustrates the difference between Truth and XYZ questions:</p>
            <img src="~/images/types.png">
            <p>Question 1 is of type XYZ and question 2 is of type Truth.
                The question content and answers are the same for both questions - the only difference is the type.</p>
            <h5 class="teal-text">Managing your Questions</h5>
            <p>The <a asp-controller="Simple" asp-action="Index" target="_blank">simple question management <i
                        class="tiny material-icons">open_in_new</i></a> page displays all of the simple questions that
                you have
                created/that have been shared with you.
            </p>
            <p>The questions are sorted newest to oldest by default (you can also sort by name), and you can search for
                a question by name.</p>
            <p>(The <i class="material-icons">link</i> icon next to each question's name copies that question's id to
                the clipboard. This is only used when creating an assessment.)</p>
            <p>You can click on the icons next to each question to perform a number of actions (which will open
                a new page):</p>
            <h6 class="teal-text">Viewing a Question <i class="material-icons">pageview</i></h6>
            <p>Displays all of the question details.</p>
            <h6 class="teal-text">Editing a Question <i class="material-icons">edit</i></h6>
            <p>Loads the question details into a form that can be edited. Any changes need to be saved before
                exiting.</p>
            <h6 class="teal-text">Deleting a Question <i class="material-icons">delete</i></h6>
            <p>The question details are displayed before you confirm the deletion.</p>
            <h6 class="teal-text">Using a Question as a Template <i class="material-icons">content_copy</i>
            </h6>
            <p>Loads the question details into a form that can be edited. The question must be generated
                before exiting.</p>
            <p>Note that using a question as a template generates a new question and leaves the original unchanged.</p>
            <h6 class="teal-text">Sharing a Question <i class="material-icons">share</i></h6>
            <p>An input for the user's email is displayed underneath the question details.</p>
            <p>The user must have an account before you are able to share questions with him/her.</p>
            <p>The user receives a copy of the question and cannot make any changes to the original.</p>
            <h6 class="teal-text">Add to Question Bank <i class="material-icons">playlist_add</i></h6>
            <p>A dropdown list will appear displaying all of your question banks. Click on a name to add the question to
                that question bank.</p>
            <p>You can add a question to the same question bank multiple times, but it will only be listed once.</p>
            <p>Question banks can be managed on the <a asp-controller="QuestionBank" asp-action="Index"
                    target="_blank">my question banks
                    <i class="tiny material-icons">open_in_new</i></a> page.</p>
        </div>
    </div>
</section>