.logo {
    display: inline-block;
    height: 50px;
}

.logo>img {
    vertical-align: middle
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.dialog-modal {
    width: 50%;
}

.profile-pic {
    height: 40px;
    width: 40px;
}




