@model Dividni.Models.Advanced

@{
    ViewData["Title"] = "Advanced: Create";
    ViewData["Heading"] = "Advanced Multiple-Choice Questions";
    ViewData["Description"] = "Create a multiple-choice question using C# code";
}

<section class="section container blue lighten-5" id="main">
  <div class="row">
    <div class="col">
      <h5 class="teal-text">Question Details</h5>
      <p>Fill-out the details of the question below, and click on <b>PREVIEW</b> to see what the question will look
        like.</p>
      <p>Review the <a asp-controller="Tutorial" asp-action="Advanced" target="_blank">tutorial <i class="tiny material-icons">open_in_new</i></a>
        for help.</p>
    </div>
  </div>
  <form id="advancedQuestionForm">
    <div class="row">
      <div class="col s12 m8 l5">
        <div class="input-field">
          <label for="Name">Question name</label>
          <input for="Name" type="text" id="name" name="name" required pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*">
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l10">
        <h6>Question</h6>
        <div id="editorContainer">
          <div id="editor"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn right modal-trigger" href="#statusModal"
        onClick="testAnswer();">
        Test<i class="material-icons right">verified_user</i>
      </a>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light right disabled" id="generate" type="submit">
        Generate<i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  <form asp-action="Create" id="aspQuestionForm">                         
    <input asp-for="Name" id="aspName" />            
    <input asp-for="Type" id="aspType" value="Advanced" />
    <input asp-for="Question" id="aspQuestion" />
    <input asp-for="UserEmail" value="@User.Identity.Name" />
    <input asp-for="ModifiedDate" id="aspModifiedDate" />
</form>
</section>

<!-- Status Modal -->
<div id="statusModal" class="modal modal-fixed-footer dialog-modal">
  <div class="modal-content">
    <h4>Status</h4>
    <div id="statusModalContent"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="statusModalClose">CLOSE</a>
  </div>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
