@model Dividni.Models.Advanced

@{
    ViewData["Title"] = "Advanced: Details";
    ViewData["Heading"] = "Advanced Multiple-Choice Questions";
    ViewData["Description"] = "View the details of an advanced multiple-choice question";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col">
            <h5 class="teal-text">Question Details</h5>
            <div>
                <b>Name: </b>@Html.DisplayFor(model => model.Name)</br>
                </br><b>Marks: </b>@Html.DisplayFor(model => model.Marks)</br>
                </br><b>Question:</b></br>
                <div id="question"></div></br>
            </div>
            <a class="waves-effect waves-light btn" asp-action="Index">
                Return to list<i class="material-icons right">list</i>
            </a>
        </div>
    </div>
</section>
