@model Dividni.Models.Simple

@{
    ViewData["Title"] = "Simple: Create";
    ViewData["Heading"] = "Simple Multiple-Choice Questions";
    ViewData["Description"] = "Create multiple-choice questions with a fixed set of answers";
}

<!-- form -->
<section class="section container blue lighten-5" id="main">
  <div class="row">
    <div class="col">
      <h5 class="teal-text">Question Details</h5>
      <p>Fill-out the details of the question below, and click on <b>PREVIEW</b> to see what the question will look
        like.</p>
      <p>Review the <a asp-controller="Tutorial" asp-action="Simple" target="_blank">tutorial <i class="tiny material-icons">open_in_new</i></a>
        for help.</p>
    </div>
  </div>
  <form id="questionForm">
    <div class="row">
      <div class="col s12 m8 l5">
        <div class="input-field">
          <label for="Name">Question name</label>
          <input for="Name" type="text" id="name" name="name" required pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*">
        </div>
        <div class="input-field">
          <p>Question type:</p>
          <p><label>
              <input class="with-gap" type="radio" id="truth" name="type" value="Truth" required
                onClick="createAnswers('Truth', null, null);">
              <span>Truth</span>
            </label></p>
          <p><label>
              <input class="with-gap" type="radio" id="xyz" name="type" value="Xyz" required
                onClick="createAnswers('Xyz', null, null);">
              <span>XYZ</span>
            </label></p>
        </div>
        <div class="input-field">
          <label for="Marks" for="marks">Marks</label>
          <input for="Marks" type="number" min="0" max="10" step="0.5" id="marks" name="marks" required>
        </div>         
      </div>
    </div>
    <div class="row">
      <div class="col s12 m10 l8">
        <h6>Question Text</h6>
        <div class="input-field tinymce-description required-field" id="questionText" name="questionText"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 l5">
        <div id="correctAnswers">
          <h6>Correct Answers</h6>
          <div id="correct"></div>
          <a class="btn-floating btn-small waves-effect waves-light red disabled" id="addCorrect"
            onClick="addAnswer('correct', false);">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="col s12 m8 l5 offset-l2">
        <div id="incorrectAnswers">
          <h6>Incorrect Answers</h6>
          <div id="incorrect"></div>
          <a class="btn-floating btn-small waves-effect waves-light red disabled" id="addIncorrect"
            onClick="addAnswer('incorrect', false);">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn right disabled modal-trigger" id="preview" href="#previewModal"
        onClick="previewAnswer();">
        Preview<i class="material-icons right">assignment_turned_in</i>
      </a>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light right disabled" id="generate" type="submit">
        Generate<i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</section>

<form asp-action="Create">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" asp-for="Id" />
  <div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswers" class="control-label"></label>
                <input asp-for="CorrectAnswers" class="form-control" />
                <span asp-validation-for="CorrectAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncorrectAnswers" class="control-label"></label>
                <input asp-for="IncorrectAnswers" class="form-control" />
                <span asp-validation-for="IncorrectAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" value="@User.Identity.Name"/>
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
</form>

<!-- Preview Modal -->
<div id="previewModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Question Preview</h4>
    <p>Review these details before clicking <b>GENERATE</b>:</p>
    <div id="previewModalContent"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
  </div>
</div>

<!-- Options Modal -->
<div id="optionsModal" class="modal modal-fixed-footer modal-not-dismissible dialog-modal">
  <div class="modal-content">
    <h4>Options</h4>
    <div id="optionsModalContent"></div>
  </div>
  <div class="modal-footer" id="optionsModalFooter">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat disabled" id="optionsModalRetry">RETRY</a>
    <a href="multiple-choice" class="modal-close waves-effect waves-green btn-flat disabled"
      id="optionsModalCreate">CREATE NEW</a>
    <a href="multiple-choice-my" class="modal-close waves-effect waves-green btn-flat disabled"
      id="optionsModalView">VIEW CREATED</a>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
