@page
@model ExternalLoginModel

@{
    ViewData["Title"] = "Register";
    ViewData["Heading"] = "Register";
    ViewData["Description"] = "Register using your Google account";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col s12">

            <h5 id="external-login-title" class="teal-text">Associate your @Model.ProviderDisplayName account</h5>
            <p>
                You've successfully authenticated with @Model.ProviderDisplayName.
                Please enter an email address for this site below, and click the <b>REGISTER</b> button to finish
                logging in.
            </p>
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Register</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




