@model Dividni.Models.Assessment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPage" class="control-label"></label>
                <input asp-for="CoverPage" class="form-control" />
                <span asp-validation-for="CoverPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionList" class="control-label"></label>
                <input asp-for="QuestionList" class="form-control" />
                <span asp-validation-for="QuestionList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appendix" class="control-label"></label>
                <input asp-for="Appendix" class="form-control" />
                <span asp-validation-for="Appendix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
