@model Dividni.Models.Assessment

@{
    ViewData["Title"] = "Assessments: Delete";
    ViewData["Heading"] = "Assessments";
    ViewData["Description"] = "Delete an assessment";
}

<section class="section container blue lighten-5" id="main">
    <div class="row">
        <div class="col">
            <h5 class="teal-text">Assessment Details</h5>
            <p>Delete the following assessment?</p>
            <div>
                <b>Name: </b>@Html.DisplayFor(model => model.Name)</br>
                </br><b>Cover Page:</b></br>
                <div id="coverPage" value="@Html.DisplayFor(model => model.CoverPage)"></div></br>
                <b>Question List:</b>
                <ol id="questionList" value="@Html.DisplayFor(model => model.QuestionList)"></ol>
                <b>Appendix:</b></br>
                <div id="appendix" value="@Html.DisplayFor(model => model.Appendix)"></div></br>     
            </div>
             <div class="row">
                <div class="col">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="waves-effect waves-light btn red">Delete<i
                                class="material-icons right">delete</i></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="waves-effect waves-light btn" asp-action="Index">
                        Return to list<i class="material-icons right">list</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Preview Modal -->
<div id="previewModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Assessment Preview</h4>
    <div id="previewModalContent"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
  </div>
</div>


